.product-detail {
    display: flex;
    justify-content: start;
    width: auto;
}

.product-image img {
    height: auto;
}

.product-info {
    /* max-width: 600px; */
    border: 2px solid black;
    border-radius: 20px;
    padding: 1%;
}

.product-info p {
    font-size: 1.2em;
    color: black;
}

.product-info form {
    /* margin-top: 20px; */
}

.product-info input[type="number"] {
    padding: 5px;
    width: 60px;
}

.product-info input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.product-info input[type="submit"]:hover {
    background-color: #45a049;
}