<div class="header-row">
    <div id="header-logo">
        <img src="/common/images/logo-icon-white.png" alt="logo image here">
    </div>

    <div class="header-icons grayscale">
        <a href="https://www.facebook.com"><img class="header-icon" src="/common/images/facebook-icon.png"></a>
        <a href="https://www.instagram.com"><img class="header-icon" src="/common/images/instagram-icon.png"></a>
        <a href="https://www.twitter.com"><img class="header-icon" src="/common/images/twitter-icon.png"></a>
        <a href="https://www.tiktok.com"><img class="header-icon" src="/common/images/tiktok-icon.png"></a>
    </div>

    <div class="header-menu">
        <form action="/" method="post">
            <button type="submit">Home</button>
        </form>

        <form action="/gotoAboutUs" method="post">
            <button type="submit">About Us</button>
        </form>

        <form action="/gotoRestaurants" method="post">
            <button type="submit">Restaurants</button>
        </form>

        <form action="/gotoProfile" method="post">
            <button type="submit">Profile</button>
        </form>

        <form action="/gotoLogout" method="post">
            <button type="submit">Log Out</button>
        </form>
    </div>
</div>