<div class="main-parent">
    {{#if logged_in}}
        {{> header_logged_in}}
    {{else}}
        {{> header}}
    {{/if}}

    <div class="main-content">
        <div class="homepage-searchbar">
            <input type="text" placeholder="Search Restaurants" id="searchbar">
            <button id="find">
                <img src="/common/images/find-icon.png" alt="search icon here">

                {{!-- <form action="/gotoRestaurantRegistration" method="post">
                    <button type="submit" alt="restaurant setting logo">
                        <img src="/common/images/restaurant-icon.png">
                    </button>
                </form> --}}
            </button>
        </div>
    </div>
    
    {{> footer}}
</div>