body {
	margin: 0px;
	background-image: url("../images/background-image.png");
}

.main-parent {
    width: 100%;
}

/** header **/
.header-row {
    display: flex;
    background-color: #242424;
    height: 90px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#header-logo > img {
    height: 120px;
    transition: transform 0.3s;
    padding: 10px;
    padding-right: 30px;
}

#header-logo > img:hover {
    transform: scale(1.1); /* Increase size on hover */
}

.header-menu {
    display: flex;
    margin: 150px;
    margin-right: 20px;
}

.header-menu > form > button {
    color: white;
    font-size: 22px;
    margin-right: 25px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    transition: color 0.5s;
    border: none;
    background: none;
    cursor: pointer;
}

.header-menu > form > button:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
}

.header-icons > a > img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.header-icons > a > img:hover {
    transform: scale(1.2); /* Increase size on hover */
}

.profile-icons > a > img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.profile-icons > a > img:hover {
    transform: scale(1.2); /* Increase size on hover */
}
/** end of header **/

/** footer **/
*:focus {
    outline: none;
}

.copyrights {
    width: 100%;
    background-color: #242424;
    display: flex;
    justify-content: center;
    color: white;
    position: fixed;
    bottom: 0;
    align-items: baseline;
}

.copyrights > pre {
    font-family:'Franklin Gothic Medium';
    font-size: 15px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
/** end of footer **/

.about-container {
    margin-top: 60px;
	display: flex;
	flex-direction: row;
	background: rgba(255, 255, 255, 0.8);
	padding: 150px;
	height: 350px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.about-image {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-image img {
	width: 90%;
}

.content {
	width: 70%;
	margin-top: 100px;
	margin-left: 35px;
}

h1 {
	font-size: 40px; 
	font-weight: normal; 
	display: inline-block;
	margin-bottom: 5px;
}

hr {
	width: 100%;
	margin-top: 0px;
	margin-bottom: 30px;
}

p {
	font-size: 18px; 
	margin: 10px 0; 
}
