.header-row {
    display: flex;
    background-color: #242424;
    height: 90px;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

#header-logo > img {
    height: 120px;
    transition: transform 0.3s;
    padding: 10px;
    padding-right: 30px;
}

#header-logo > img:hover {
    transform: scale(1.1); /* Increase size on hover */
}

.header-menu {
    display: flex;
    margin: 150px;
    margin-right: 20px;
}

.header-menu > p a {
    color: white;
    font-size: 22px;
    margin-right: 25px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    transition: color 0.5s;
}

.header-menu > p:hover a:hover{
    color: black; /* Text color on hover */
    background-color: white; /* Background color on hover */
    border-radius: 10px;
}

.header-icons > a > img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.header-icons > a > img:hover {
    transform: scale(1.2); /* Increase size on hover */
}
		
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }